@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'mustica';
    src: url('./fonts/Mustica/MusticaPro-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'mustica-bold';
    src: url('./fonts/Mustica/MusticaPro-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'mustica-light';
    src: url('./fonts/Mustica/MusticaPro-Light.otf') format('opentype');
}

@font-face {
    font-family: 'mustica-semibold';
    src: url('./fonts/Mustica/MusticaPro-SemiBold.otf') format('opentype');
}

@font-face {
    font-family: 'mustica-black';
    src: url('./fonts/Mustica/MusticaPro-Black.otf') format('opentype');
}

@font-face {
    font-family: 'mustica-medium';
    src: url('./fonts/Mustica/MusticaPro-Medium.otf') format('opentype');
}

@media only screen and (min-width: 1024px) {
    /* width */
    ::-webkit-scrollbar {
        width: 5px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        background: #3c443c;
      }
      
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: 
        #8868c8;
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #724bb9;
      }
}

.mouse-scroll {
    width: 2rem;
    height: 3.37rem;
    border: solid 2px white;
    border-radius: 30px;
    position: fixed;
    bottom: 7rem;
    right: 5rem;
    z-index: 100;
    display: none;
}
@media only screen and (min-width: 1024px) {
    .mouse-scroll {
        display: block;
    }
}


.mouse-scroll::before {
    content: '';
    width: 0.2em;
    height: .8em;
    margin-top: .3em;
    margin-bottom: .3em;
    border-radius: 2px;
    background: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation: scroll 1.8s infinite;
}

@keyframes scroll {
    0% {
        bottom: 50%;
        opacity: 1;
    }
    100% {
        bottom: 0%;
        opacity: 0;
    }
}

html {
    scroll-behavior: smooth;
    overflow: hidden
}

.scroll-snap-container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    z-index: 1000;
}

.navbarBackground {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
}

.mainBackground {
    background: url('/main_page/main_bg.jpg');
    background-repeat: no-repeat;
    background-position: center left -4rem;
    background-size: cover;
    height: 100vh !important;
    scroll-snap-align: start;
}

.podcastBackground {
    background: url('/main_page/podcast_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -30rem;
    height: 100vh !important;
    scroll-snap-align: start;
}

@media only screen and (min-width: 900px) {
    .podcastBackground {
        background-position: center left 0rem;
        background-size: cover;
    }
}

@media only screen and (min-width: 500px) {
    .mainBackground {
        background-position: center left 0rem;
        background-size: cover;
    }
}

@media only screen and (min-width: 600px) {
    .mainBackground {
        background-position: center top 2rem;
        background-size: cover;
    }
}

.serviciiBackground {
    background: url('/main_page/serviciivideo_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -100px;
    height: 100vh !important;
    scroll-snap-align: start;

}

@media only screen and (min-width: 500px) {
    .serviciiBackground {
        background: url('/main_page/serviciivideo_bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: default;
    }
}

.fotoBackground {
    background: url('/main_page/serviciifoto_bg.jpg');
    background-repeat: no-repeat;
    background-size: 800px 1178px;
    background-position: -202px 0px;
    height: 100vh !important;
    scroll-snap-align: start;

}

@media only screen and (min-width: 600px) {
    .fotoBackground {
        background: url('/main_page/serviciifoto_bg.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
    }
  }

.cardglowbackground {
    background: url('/assets/cardglow.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
}

.navMenuLine {
    background: url('/assets/navmenu_line.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.phoneBackground {
    transition: all;
    transition-duration: 200ms;
    -o-transition-duration: 100ms;
    background: rgb(73,73,73);
    background: linear-gradient(90deg, rgba(73,73,73,1) 0%, rgba(255,255,255,0) 100%);
}

.phoneBackground:hover {
    transition: 200ms;
    background: #25245A;
    background: linear-gradient(90deg, #25245A 0%, rgba(255,255,255,0) 100%);
}

.dotted-divider {
    background: url('/assets/dotteddivider.png');
    background-repeat: no-repeat;
    background-size: cover;
}