@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'mustica';
    src: url('./fonts/Mustica/MusticaPro-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'mustica-bold';
    src: url('./fonts/Mustica/MusticaPro-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'mustica-light';
    src: url('./fonts/Mustica/MusticaPro-Light.otf') format('opentype');
}

@font-face {
    font-family: 'mustica-semibold';
    src: url('./fonts/Mustica/MusticaPro-SemiBold.otf') format('opentype');
}

@font-face {
    font-family: 'mustica-black';
    src: url('./fonts/Mustica/MusticaPro-Black.otf') format('opentype');
}

@font-face {
    font-family: 'mustica-medium';
    src: url('./fonts/Mustica/MusticaPro-Medium.otf') format('opentype');
}

html {
    overflow: hidden;
    scroll-behavior: smooth;
}

.scroll-snap-container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
}

.navbarBackground {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
}

.mainBackground {
    background: url('/main_page/main_bg.jpg');
    background-repeat: no-repeat;
    background-position: center left -4rem;
    background-size: cover;
    height: 100vh !important;
    scroll-snap-align: start;
}

@media only screen and (min-width: 500px) {
    .mainBackground {
        background-position: center left 0rem;
        background-size: cover;
    }
}

@media only screen and (min-width: 600px) {
    .mainBackground {
        background-position: center top 2rem;
        background-size: cover;
    }
}

.serviciiBackground {
    background: url('/main_page/serviciivideo_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -100px;
    height: 100vh !important;
    scroll-snap-align: start;

}

@media only screen and (min-width: 500px) {
    .serviciiBackground {
        background: url('/main_page/serviciivideo_bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: default;
    }
}

.fotoBackground {
    background: url('/main_page/serviciifoto_bg.jpg');
    background-repeat: no-repeat;
    background-size: 800px 1178px;
    background-position: -202px 0px;
    height: 100vh !important;
    scroll-snap-align: start;

}

@media only screen and (min-width: 600px) {
    .fotoBackground {
        background: url('/main_page/serviciifoto_bg.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
    }
  }

.cardglowbackground {
    background: url('/assets/cardglow.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
}

.navMenuLine {
    background: url('/assets/navmenu_line.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.headerbuttonshover:hover {
    background: transparent;
    box-shadow: 0 0 0 1px inset white;
}

.phoneBackground {
    transition: all;
    transition-duration: 100ms;
    -o-transition-duration: 100ms;
    background: rgb(73,73,73);
    background: linear-gradient(90deg, rgba(73,73,73,1) 0%, rgba(255,255,255,0) 100%);
}

.phoneBackground:hover {
    background: rgb(68, 0, 88);
    background: linear-gradient(90deg, rgba(68,0,88,1) 0%, rgba(255,255,255,0) 100%);
}